body { margin: 0;  } 
* { font-family: 'Roboto', sans-serif; margin: auto; font-size: 17px; font-weight:300; text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.219);}
ul { margin: 10px; padding: 0; list-style-type: none;}

#input-container {
    position: relative;
    float: left;
    width: 55%;
    display: grid;
    row-gap: 2rem;
    column-gap: 0.5rem;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1.5fr));
    align-items: center;
    justify-items: center;
}
#response-container {
    width: 42%;
    position: relative;
    float: right;
    display: grid;
    column-gap: 0.65rem;
    row-gap: 1rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    align-items: center;
    justify-items: center;
}


@media screen and (max-width: 900px) {
    div#main { display: block;}
}