body { margin: 0;  } 
* { font-family: 'Roboto', sans-serif; margin: auto; font-size: 17px; font-weight:300; text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.219);}
ul { margin: 10px; padding: 0; list-style-type: none;}

#input-container {
    position: relative;
    float: left;
    width: 60%;
    display: grid;
    gap: 4rem;
    grid-auto-rows: 7rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    align-items: center;
    justify-items: center;
}
#response-container {
    width: 35%;
    position: relative;
    float: right;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
}


@media screen and (max-width: 900px) {
    div#main { display: block;}
}